:root {
  --main-bg-color: burlywood;
  --main-text-color: black;
  --accent-color: brown;
  --font-family: 'Impact', serif;
}

body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1, h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: var(--font-family);
  text-align: center;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: var(--main-bg-color);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  margin-top: -25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.bottom-line {
  margin-top: 25px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: var(--main-text-color);
}

a:visited {
  color: var(--main-text-color);
}

a:hover {
  color: var(--accent-color);
}

a:active {
  color: var(--accent-color);
}

/* Responsive Design */

@media (max-width: 600px) {
  .menu {
    width: 100%;
    padding: 10px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}
